<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <appender name="ErrorsAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Logs" />
    <appendToFile value="true" /> 
    <rollingStyle value="Composite" /> 
    <datePattern value="yyyyMMdd'.tlg'" /> 
    <maximumFileSize value="10MB" /> 
    <maxSizeRollBackups value="10" />
    <staticLogFileName value="false" />
    <PreserveLogFileNameExtension value="true" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyyy-MM-dd},%date{HH:mm:ss.fff},%-2thread,%-5level,%logger{1},(%file:%line),%message%newline" />
    </layout>
  </appender>

  <appender name="ErrorsBuffer" type="log4net.Appender.BufferingForwardingAppender">
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="DEBUG"/>
    </evaluator>
    <buffersize value="100" />
    <lossy value="true" />
    <appender-ref ref="ErrorsAppender" />
  </appender> 

  <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyyy-MM-dd},%date{HH:mm:ss.fff},%-2thread,%-5level,%logger{1},%message%newline"/>
    </layout>
  </appender>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="ErrorsBuffer" />
    <appender-ref ref="TraceAppender" /> 
  </root> 
  
</log4net>
