<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />


	<!--	切换成HA模式
	<bean id="broker" class="org.zbus.broker.ha.HaBroker">
		<constructor-arg>
			<bean class="org.zbus.broker.BrokerConfig">
				<property name="trackServerList" value="127.0.0.1:16666;127.0.0.1:16667" /> 
			</bean>
		</constructor-arg>
	</bean>	
 	-->
 	
 	<bean id="broker" class="org.zbus.broker.SingleBroker">
		<constructor-arg>
			<bean class="org.zbus.broker.BrokerConfig">
				<property name="serverAddress" value="127.0.0.1:15555" /> 
			</bean>
		</constructor-arg>
	</bean>
	
	<bean id="myrpc" class="org.zbus.rpc.RpcFactory">
		<constructor-arg> 
			<bean class="org.zbus.rpc.mq.MqInvoker"> 
				<constructor-arg ref="broker"/>
				<constructor-arg value="MyRpc"/> 
			</bean>
		</constructor-arg>
	</bean>
 
 
	<bean id="interface" factory-bean="myrpc" factory-method="getService">
		<constructor-arg type="java.lang.Class" value="org.zbus.examples.rpc.appdomain.Interface"/> 
		<!-- 当需要个性化调用的时候指定
		<constructor-arg>
			<bean class="org.zbus.rpc.RpcConfig">
				<property name="module"  value="org.zbus.rpc.biz.Interface"/>
			</bean>
		</constructor-arg>
		 -->
	</bean> 
	
</beans>