<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:zbus.properties</value>
		</property>
	</bean>

	<bean id="mqServerConfig" class="org.zbus.mq.server.MqServerConfig">
		<property name="eventDriver" ref="eventDriver"></property>
		<property name="serverHost" value="${serverHost}"></property>
		<property name="serverPort" value="${serverPort}"></property>
		<property name="storePath" value="${storePath}"></property>
		<property name="verbose" value="${verbose}"></property>
		<property name="registerToken" value="${registerToken}"></property>
		<property name="mqFilterPersist" value="${mqFilterPersist}"></property>
		<property name="serverMainIpOrder" value="${serverMainIpOrder}"></property>

		<property name="httpProxyConfigList">
			<list>

				<bean id="proxyconfig1" class="org.zbus.proxy.HttpDmzProxy$ProxyConfig">
					<property name="entry" value="${entry1}"></property>
					<property name="target" value="${target1}"></property>
				</bean>

				<bean id="proxyconfig2" class="org.zbus.proxy.HttpDmzProxy$ProxyConfig">
					<property name="entry" value="${entry2}"></property>
					<property name="target" value="${target2}"></property>
				</bean>

			</list>
		</property>
	</bean>

	<bean id="eventDriver" class="org.zbus.net.EventDriver"></bean>
	<bean id="mqServer" class="org.zbus.mq.server.MqServer">
		<constructor-arg index="0" ref="mqServerConfig" />
	</bean>

</beans>
